<h1>Grades</h1>

<table>
  <thead>
    <tr>
      <th>Activity Type</th>
			<th>Student Name</th>
			<th>Section Name</th>
			<th>Grade</th>
			<th>Teacher Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= grade.activity.activity_type%>&nbsp;<%= grade.activity.content%></td>
				<td><%= grade.student.user.first_name%>&nbsp;<%= grade.student.user.first_name%></td>
				<td><%= grade.section.name%></td>
				<td><%= grade.score%></td>
				<td><%= grade.teacher.user.first_name%>&nbsp;<%= grade.teacher.user.first_name%></td>
				
				<% if can? :destroy, @grades %>
        	<td><%= link_to 'Destroy', grade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      	<% end %>
			</tr>
    <% end %>
  </tbody>
</table>

<br>
<%= form_for(@grade) do |f| %>
  
	
<h3>new grade</h3>
  <div class="field">
    <%= f.label :section_id %>		
		<%= f.collection_select(:section_id, Section.order('name asc'), :id, :name, { :prompt => 'Select Section' }, class: "form-control")  %>
  </div>
  <div class="field">
    <%= f.label :teacher_id %>		
		<%= f.collection_select(:teacher_id, Teacher.order('id asc'), :id, :id, { :prompt => 'Select Teacher' }, class: "form-control")  %>
  </div>
  <div class="field">
    <%= f.label :student_id %>		
		<%= f.collection_select(:student_id, Student.order('id asc'), :id, :id, { :prompt => 'Select Student' }, class: "form-control")  %>
  </div>
  <div class="field">
    <%= f.label :score %>
    <%= f.text_field :score %>
  </div>
  <div class="field">
    <%= f.label :activity_id %>		
		<%= f.collection_select(:activity_id, Activity.order('content asc'), :id, :content, { :prompt => 'Select Activity' }, class: "form-control")  %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
	<% end %>