<div class="container">
	
<table>
  <thead>
    <tr>
			<th>name</th>
      <th>Activity Type</th>
			<th></th>
			<th>Section</th>
			<th>Grade</th>
     
    </tr>
  </thead>

  <tbody>
		<% @grades.each do |grade| %>
	
			<tr>
				<td><%= grade.student.user.first_name%>&nbsp;<%=grade.student.user.last_name%>
	  		<td><%= grade.activity.activity_type %></td>
				<td><%= grade.activity.content %></td>
				<td><%= grade.section.name %>
				<td><%= grade.score %></td>
				
			</tr>
		<% end %>
  </tbody>
</table>

Average: <%= @grades.average(:score)  %>
</div>