<h2>New Admin</h2>

<%= form_for(resource, as: resource_name, url: student_signup_path) do |f| %>

	<%= devise_error_messages! %>
	
	<% for role in User::ROLES %>
		<%= check_box_tag "user[roles][#{role}]", role, @user.roles.include?(role), {:name => "user[roles][]"} %>
		<%= label_tag "user_roles_#{role}", role.to_s.humanize %><br />
	<% end %>
	<%= hidden_field_tag "user[roles][]", "" %>

	<div class=" col-md-9 col-lg-9 "> 
		<table class="table table-user-information">
			<tbody>
				<tr>
  				<td><%= f.label :email %></td>
   				<td><%= f.email_field :email, autofocus: true, class: "form-control" %></td>
				</tr>
				<tr>
					<td><%= f.label :username %></td>
					<td> <%= f.text_field :username , class: "form-control"%></td>
				</tr>
				<tr>
					<td><%= f.label :password %></td>
					<td><% if @minimum_password_length %>
							<em>(<%= @minimum_password_length %> characters minimum)</em>
    					<% end %>
   				 	 	<%= f.password_field :password, autocomplete: "off", class: "form-control" %>
					</td>
				</tr>
				<tr>
					<td><%= f.label :password_confirmation %></td>
					<td><%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %></td>
				</tr>
				<tr>
					<td><%= f.label :first_name %></td>
					<td><%= f.text_field :first_name , class: "form-control"%></td>
				</tr>
				<tr>
					<td><%= f.label :last_name %></td>
					<td><%= f.text_field :last_name, class: "form-control" %></td>
				</tr>
				<tr>
					<td><%= f.label :gender %></td>
					<td><%= f.select(:gender, options_for_select(['Male', 'Female'], :selected => f.object.gender), 
		     				  {},class: "chzn-select form-control") %></td>
				</tr>
				<tr>
					<td><%= f.label :birthday %></td>
					<td><%= f.date_select :birthday, {start_year: 1960 }, {class: "form-control"} %></td>
				</tr>
				<tr>
					<td><%= f.label :contact_number %></td>
					<td><%= f.text_field :contact_number , class: "form-control"%></td>
				</tr>
			</tbody>
		</table>
	  <div class="actions">
	    <%= f.submit "Add User", class: "btn btn-md btn-danger pull-right" %>
	  </div>
	</div>
<% end %>


