<p>
  <strong>Activity:</strong>
	<%= @activity.activity_type %><br>
	<%= @activity.content%>
	<%= @activity.section.name%>
</p>


<%= form_for (@comment) do |f| %>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="pull-left">
				<img class="media-object img-circle" src="<%= current_user.avatar.url(:thumb) %>" 
				width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
			</div>
	    <span>
	    	<h1 class="panel-title pull-left" style="font-size:30px;">
					<%= current_user.first_name %>&nbsp;<%= current_user.last_name%>
				</h1>
			</span>
			<br><hr>
			<div class="media-body">
				<%= f.text_area :context, size: "10x2", class: "form-control", required: "true", 
					maxlength: 500, id: 'review_text' %>
			  <span id="counter" data-maximum-length="<%= @maximum_length %>"><%= @maximum_length %></span>
				<%= f.hidden_field :activity_id, value: @activity.id %>
				<%= f.hidden_field :user_id, value: current_user.id %>
			</div>
			<hr>
	    <span class="pull-left">
	    	<a href="#" class="btn btn-link" style="text-decoration:none;">
					<i class="fa fa-fw fa-files-o" aria-hidden="true"></i> Text</a>
	      <a href="#" class="btn btn-link" style="text-decoration:none;">
					<i class="fa fa-fw fa-picture-o" aria-hidden="true"></i> Add Photos</a>
	      <a href="#" class="btn btn-link" style="text-decoration:none;">
					<i class="fa fa-paperclip" aria-hidden="true"></i> Attach File  </a>
	    </span>
			<div class="pull-right">
				<%= f.submit "Post", class: "btn btn-sm btn-info", id: 'post_btn'%>
			</div>
	  </div>
	</div>
<% end %>
 
<% @activity.comments.each do |comment| %>
	<div class="panel panel-default">
  	<div class="panel-body">
    	<div class="pull-left">
      	<img class="media-object img-circle" src="<%= comment.user.avatar.url(:thumb) %>" 
					width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
      </div>
      <h4><a style="text-decoration:none;">
				<strong><%= comment.user.first_name %>&nbsp;<%= comment.user.last_name%></strong></a> – <small><small>
				<a style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> 
				<%= local_time_ago(comment.created_at) %></i></a></small></small>
			</h4>	
 		 	<span>
				<div class="navbar-right">
        	<div class="dropdown">
          	<button class="btn btn-link btn-xs dropdown-toggle" type="button" id="dd1" 
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            	<i class="fa fa-cog" aria-hidden="true"></i>
            	<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dd1" style="float: right;">
            	<li><a href="#"><i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i> Report</a></li>
							<% if comment.user_id == current_user.id%>
              	<li><a href="#"><i class="fa fa-fw fa-ban" aria-hidden="true"></i> Edit</a></li>
              	<li role="separator" class="divider"></li>
						 	  <li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
							<% end%>
           	</ul>
          </div>
        </div>
			</span>
      
     	<hr>
      <div class="post-content">
      	<p><%= comment.context %></p>
      </div>
      <hr>
      <div>
      	<div class="pull-right btn-group-xs">
        	 <a class="btn btn-default btn-xs"><i class="fa fa-heart" aria-hidden="true"></i> Like</a>
           <a class="btn btn-default btn-xs"><i class="fa fa-comment" aria-hidden="true"></i> Comment</a>
         </div>
         <div class="pull-left">
           <p class="text-muted" style="margin-left:5px;"><i class="fa fa-globe" aria-hidden="true"></i> 
						 In Class</p>
         </div>
         <br>
      </div>
  	</div>
	</div>
<% end %>



