<%= form_for(student) do |f| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>
      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
	<div class=" col-md-9 col-lg-9 "> 
		<table class="table table-user-information">
			<tbody>
				<tr>
					<td> <%= f.label :user_id %></td>
  				<td><%= f.collection_select(:user_id, User.order('username asc'), :id, 
						:username, { :prompt => 'Select User' }, class: "form-control")  %></td>
				</tr>
				<tr>
			    <td><%= f.label :department_id %></td>
					<td><%= f.collection_select(:department_id, Department.order('name asc'), :id, 
						:name, { :prompt => 'Select Department' }, class: "form-control")  %></td>
			  </tr>
				<tr>
					<td><%= f.label :course_id %></td>
					<td><%= f.collection_select(:course_id, Course.order('name asc'), :id, 
						:name, { :prompt => 'Select Course' }, class: "form-control")  %></td>
				</tr>
				<tr>
					<td><%= f.label :year_level %></td>
					<td><%= f.select(:year_level, options_for_select([1, 2, 3, 4]), 
		     				  {},class: "chzn-select form-control") %></td>
				</tr>
				<tr>
    			<td><%= f.label :block_id %></td>
					<td><%= f.collection_select(:block_id, Block.order('name asc'), :id, 
						:name, { :prompt => 'Select Block' }, class: "form-control")  %></td>
				</tr>
			</tbody>
		</table>
		<div class="actions">
    	<%= f.submit "Update", class: "btn btn-md btn-danger pull-right" %>
  	</div>
	</div>	
<% end %>
