<% if @student.user_id == current_user.id %>
<ul class="nav nav-tabs">
	<li class="nav-item">
  	<a class="nav-link active" href="/users/<%= current_user.id %>"><i class="fa fa-pie-chart"></i>Basic</a>
  </li>
	
  <li class="nav-item">
    <a class="nav-link" href="<%= student_path(user_id: current_user.id) %>"><i class="fa fa-user-o"></i>Student</a>
  </li>
</ul>
<% end %>

<div class="container">
	<div class="row">
		<div class="col-lg-4 col-sm-6 col-md-offset-2">
    	<div class="card hovercard">
      	<div class="cardheader">
				</div>
				<div class="avatar">
					<%= image_tag @student.user.avatar.url(:thumb) %>
				</div>
				<div class="title">
  				<strong><%= @student.user.first_name %>&nbsp;<%= @student.user.last_name %> </strong>
					<br>
				</div>
				
				<div class=" col-md-9 col-lg-9 "> 
					<table class="table table-user-information">
						<tbody>
					  	<tr>
   							<td>Department:</td>
  				 			<td><%= @student.department.name %></td>
							</tr>
							<tr>
  							<td>Course:</td>
  							<td><%= @student.course.name %></td>
							</tr>
							<tr>
  							<td>Block:</td>
								<td><%= @student.block.name %></td>
							</tr>
							<tr>
  							<td>Year level:</td>
  							<td><%= @student.year_level %></td>
							</tr>
						</tbody>
					</table>
				</div>				
			</div>
		</div>
	</div>
</div>