<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="/users/<%= current_user.id %>"><i class="fa fa-pie-chart"></i>Basic</a>
  </li>
	<% if current_user.roles_mask == 4%>
  <li class="nav-item">
    <a class="nav-link" href="<%= student_path(user_id: current_user.id) %>"><i class="fa fa-user-o"></i>Student</a>
  </li>
	<% elsif current_user.roles_mask == 2%>
  <li class="nav-item">
    <a class="nav-link" href="<%= teacher_path(user_id: current_user.id) %>"><i class="fa fa-user-o"></i>Teacher</a>
  </li>
	<% end %>
</ul>

<div class="container">
	<div class="row">
  	<div class="col-md-5  toppad  pull-right col-md-offset-3 ">
			<% if can? :update, @user %>
    	  <a href="<% edit_user_registration_path(@user) %>" class= "btn btn-sm btn-info "><i class="fa fa-pencil-square-o" aria-hidden="true"></i> &nbsp;Edit Profile</a>
      	<br>
			<% end%>
		</div>
		<div class="col-lg-4 col-sm-6 col-md-offset-2">
    	<div class="card hovercard">
      	<div class="cardheader">
				</div>

				<div class="avatar">
					<%= image_tag @user.avatar.url(:thumb) %>
				</div>
				
				<div class="title">
  				<strong><%= @user.first_name %>&nbsp;<%= @user.last_name %> </strong>
					<br>
				</div>
				
				<div class=" col-md-9 col-lg-9 "> 
					<table class="table table-user-information">
						<tbody>
					  	<tr>
								<% if @user.roles_mask == 1%>
   								<td>user ID:</td>
  				 				<td><%= @user.id%></td>
								<% elsif @user.roles_mask == 2%>
   								<td>Teacher ID:</td>
  				 				<td><%= @user.teachers.first.id%></td>
								<% elsif @user.roles_mask == 4%>
   								<td>Student ID:</td>
  				 				<td><%= @user.students.first.id%></td>
								<% end %>
							</tr>
							<tr>
								<td>Username:</td>
 				  			<td><%= @user.username %></td>
							</tr>
							<tr>
								<td>Gender:</td>
 				 			  <td><%= @user.gender %></td>
							</tr>
							<tr>
								<td>Birthday:</td>
 			 	 				<td><%= @user.birthday %></td>
							</tr>
				 	 	 		<td>Contact number:</td>
  			 				<td>	<%= @user.contact_number %></td>
 							</tr>
						</tbody>
 					</table>
		 	 </div>
			</div>
		</div>
	</div>
</div>
	
