
<div class="container">
	<div class="row">
		<p>
		  <strong>Class:</strong>
			<%= @section.name %>
		</p>
	</div>
	<div class="row">
		<table class="table table-striped custab"> 
  		<thead>
    		<tr>
					<th>Activities in Section:<%= @section.name %></th>
      		<th colspan="1"></th>
    		</tr>
  		</thead>
  		<tbody>
   			<% if @section.activities.each_with_index do |activity| %>
      		<tr>
						<td>
							
							<a href="<%= comments_path(:id => activity.id) %>"><%= activity.activity_type %></a>
						</td>
						<td><%= activity.content%>
      		</tr>
				<% end.empty? %>
					<td><strong>No activities.</strong></td>
				<% end %>
		  </tbody>
		</table>
	</div>
	
	<div class="row">
		<table class="table table-striped custab"> 
  		<thead>
    		<tr>
					<th>Students in Class:<%= @section.name %></th>
      		<th colspan="1"></th>
    		</tr>
  		</thead>
  		<tbody>
   			<% if @section.students.each_with_index do |student| %>
					<tr>
						<td>
							<div class="card hovercard2">
				      	<div class="cardheader">
								</div>
								<div class="avatar">
									<a href="/students/<%= student.id %>"><%= image_tag student.user.avatar.url(:thumb) %></a>
								</div>
							</div>
						</td>
        		<td>
							<a class="post" href="/students/<%= student.id %>"><%= student.user.first_name %>&nbsp;<%= student.user.last_name%></a>
						</td>
					</tr>
				<% end.empty? %>
					<td><strong>No users.</strong></td>
				<% end %>
			</div>
  	</tbody>
	</table>
</div>
</div>


