
<div class="container">
	<div class="row">
 		<div class="col-md-offset-1 col-md-8 col-sm-9 col-lg-8">
    	<div class="wrapper">
      	<span class="group">     
        	<h4><i class="fa fa-users"></i> Students in Block <%= @block.name %></h4>
					<h5>Adviser:<%= @block.teacher.user.first_name %>&nbsp;<%= @block.teacher.user.last_name %></h5>
      </span>
    </div>
   	<div class="well">
			<table class="table table-striped custab"> 
	  		<tbody>
	   			<% if @block.students.each_with_index do |student| %>
					<div class="col-md-3">
	      			<tr>
								<td>
									<div class="card hovercard2">
					      		<div class="cardheader">
										</div>
										<div class="avatar">
											<a href="/students/<%= student.id %>"><%= image_tag student.user.avatar.url(:thumb) %></a>
										</div>
									</div>
								</td>
	        			<td>
									<a class="post" href="/students/<%= student.id %>"><%= student.user.first_name %>&nbsp;<%= student.user.last_name%></a>
								</td>
								
	      			</tr>
							<% end.empty? %>
							<td><strong>No users.</strong></td>
						<% end %>
					</div>
	  		</tbody>
			</table>
    </div>
  </div>
</div>

