<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="/users/<%= current_user.id %>"><i class="fa fa-pie-chart"></i>Basic</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= teacher_path(user_id: current_user.id) %>"><i class="fa fa-user-o"></i>Teacher</a>
  </li>
</ul>


<div class="container">
	<div class="row">
		<div class="col-lg-4 col-sm-6 col-md-offset-2">
    	<div class="card hovercard">
<p>
  <strong>ID:</strong>
  <%= @teacher.user_id %>
</p>
<p>
  <strong>First name:</strong>
  <%= @teacher.user.first_name %>
</p><p>
  <strong>Last Name:</strong>
  <%= @teacher.user.last_name %>
</p><p>
  <strong>Department:</strong>
  <%= @teacher.department.name %>
</p>
<p>
  <strong>Department:</strong>
  <%= @teacher.department_id %>
</p>
<p>
  <strong>Advisory Block:</strong>
  <%= @teacher.block.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @teacher.status %>
</p>
 
 <p><Strong>Subjects:</strong>
<table>	
	 <% @teacher.subjects.each do |subject| %>
	 <tr>
        <td><%= subject.name %></td>
			
					</tr>
		    <% end %>
</table>


</p>
<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
	</div>
		</div>
	</div>
</div>