<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="/users/<%= current_user.id %>"><i class="fa fa-pie-chart"></i>Basic</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= teacher_path(user_id: current_user.id) %>"><i class="fa fa-user-o"></i>Teacher</a>
  </li>
</ul>


<div class="container">
	<div class="row">
		<div class="col-lg-4 col-sm-6 col-md-offset-2">
    	<div class="card hovercard">
      	<div class="cardheader">
				</div>
				<div class="avatar">
					<%= image_tag @teacher.user.avatar.url(:thumb) %>
				</div>
				<div class="title">
  				<strong><%= @teacher.user.first_name %>&nbsp;<%= @teacher.user.last_name %> </strong>
					<br>
				</div>
				
				<div class=" col-md-9 col-lg-9 "> 
					<table class="table table-user-information">
						<tbody>
					  	<tr>
   							<td>Department:</td>
  				 			<td><%= @teacher.department.name %></td>
							</tr>
							<tr>
								<td>Department:</td>
 							 	<td><%= @teacher.department_id %></td>
							</tr>
							<tr>
  							<td>Advisory Block:</td>
  							<td><%= @teacher.block.name %></td>
							</tr>
							<tr>
  							<td>Status:</td>
  							<td><%= @teacher.status %></td>
							</tr>
 						 	<tr>
								<td>Subjects Handled:</td>
								<% @teacher.subjects.each do |subject| %>
	 								<td><%= subject.name %></td>
							</tr>
		   			 		<% end %>	
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>