<h1>Activities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.activity_type%></td>
				<td><%= activity.content%></td>
				<td><%= activity.section.name%></td>
				<td><%= activity.teacher.user.first_name%></td>
				<td><%= link_to 'Show', activity %></td>
        
				<% if can? :destroy, @activities %>
        	<td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      	<% end %>
			</tr>
    <% end %>
  </tbody>
</table>

<br>
<%= form_for(@activity) do |f| %>
  
	
<h3>new activity</h3>
  <div class="field">
    <%= f.label :activity_type %>
		<%= f.select(:activity_type, options_for_select(['Assignment', 'Lecture', 'Exams']), 
		     				  {},class: "chzn-select") %>
  </div>
  <div class="field">
    <%= f.label :content %>	
		<%= f.text_field :content %>
  </div>
  
  <div class="field">
    <%= f.label :section_id %>		
		<%= f.collection_select(:section_id, Section.order('name asc'), :id, :name, { :prompt => 'Select Section' }, class: "form-control")  %>
  </div>
  <div class="field">
    <%= f.label :teacher_id %>
		<%= f.collection_select(:teacher_id, Teacher.order('id asc'), :id, :id, { :prompt => 'Select Teacher' }, class: "form-control")  %>
	
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
	<% end %>