<h1>Activities</h1>

<table class="table table-striped custab">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.activity_type%></td>
				<td><%= activity.content%></td>
				<td><%= activity.section.name%></td>
				<td><%= activity.teacher.user.first_name%>&nbsp;
					<%= activity.teacher.user.last_name%></td>
				<td><i class="fa fa-search-plus" aria-hidden="true"></i>
					<%= link_to 'View', comments_path(:id => activity.id)%>
				</td>
				<% if can? :destroy, @activities %>
        	<td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      	<% end %>
			</tr>
    <% end %>
  </tbody>
</table>

<br>
<%= form_for(@activity) do |f| %>
  
<h3>New activity</h3>
  <div class="field">
    <%= f.label :activity_type %>
		<%= f.select(:activity_type, options_for_select(['Assignment', 'Lecture', 'Exams']), 
		     				  {},class: "chzn-select form-control") %>
  </div>
  <div class="field">
    <%= f.label :content %>	
		<%= f.text_field :content, class: "form-control" %>
  </div>
	<%= f.hidden_field :section_id, value: @section.id %>
	<%= f.hidden_field :teacher_id, value: @teacher.id %>
	
  <div class="actions">
    <%= f.submit "Add Activity", class: "btn btn-sm btn-info pull-right"%>
  </div>
<% end %>